body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f2f2f2;
    font-family:Arial;
}

.calculator{
    background:#222;
    padding:20px;
    border-radius:10px;
    width:250px;
}

#display{
    width:92%;
    height:50px;
    font-size:20px;
    margin-bottom:10px;
    text-align:right;
    padding:10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
}

button{
    padding:19px;
    font-size:18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#ddd;
}